@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&family=Rubik:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 767px) {
    /* Styles for mobile screens */
    #container1 {
        display: none; /* Hide the container initially on mobile screens */
    }
}

@media (min-width: 768px) {
    /* Styles for larger screens (lg) */
    #container1 {
        display: flex;
        flex-direction: row;
    }
}
